$purple: #A3ADD5;
$light-gray: #BBBDC4;
$yellow: #dde933;
$green: #71D206;
$orange: #e97f1b;
$gray: #bbbdc4;
$darker-purple: #6e7ebd;


$main-font: proxima-nova, sans-serif;
$secondary-font: proxima-nova-condensed, sans-serif;
